Cython>=0.20.2
Jinja2>=2.7.3
MarkupSafe>=0.23
argparse>=1.2.1
backports.ssl-match-hostname>=3.4.0.2
certifi>=14.05.14
ipython>=2.2.0
numexpr>=2.4
numpy>=1.8.2
pandas>=0.14.1
python-dateutil>=2.2
python-dotenv>=0.1.0
pytz>=2014.4
pyzmq>=14.3.1
pytest>=2.6.2
pytest-cov>=1.8.0
six>=1.7.3
tables>=3.1.1
tornado>=4.0.1
wsgiref>=0.1.2
pathlib>=1.0.1
scikit-learn>=0.15.2
pysqlite>=2.6.3
sqlalchemy>=0.9.8
scipy>=0.14.0
matplotlib>=1.4.2
